
/// index
.banner-home {
  @apply relative w-[700px] h-[450px] bg-[url('/images/banners/Home/b16@2x.png')];

  // left-top
  .left-top {
    @apply absolute top-[87px] left-[112px] w-[135px] h-[113px];
    animation: ani-ilt-0 4s ease-out infinite;

    .bottom {
      @apply absolute left-[0px] top-[13px] w-[152px] h-[113px] bg-[url('/images/banners/Home/6@2x.png')];
      animation: ani-ilt-1 4s infinite;
    }

    .top {
      @apply absolute left-[56px] top-[13px] w-[37px] h-[42px] bg-[url('/images/banners/Home/5@2x.png')];
      animation: ani-ilt-2 4s infinite;
    }
  }

  @keyframes ani-ilt-0 {
    0%, 50%, 83.33% {
      transform: translateY(0rem);
    }
    66.67%, 100% {
      transform: translateY(0.5rem);
    }
  }

  @keyframes ani-ilt-1 {
    0%, 16% {
      opacity: 0;
    }
    32% {
      opacity: 1;
    }
  }

  @keyframes ani-ilt-2 {
    0%, 32% {
      opacity: 0;
      transform: translateY(-0.5rem);
    }
    46% {
      opacity: 1;
      transform: translateY(0rem);
    }
  }

  // left-bottom
  .left-bottom {
    @apply absolute top-[221px] left-[52px] w-[185px] h-[162px];
    animation: ani-ilb-0 4s ease-out infinite;

    .top {
      @apply absolute left-[0px] top-[0px] w-[185px] h-[108px] bg-[url('/images/banners/Home/9@2x.png')];
      animation: ani-ilb-top 4s linear infinite;
    }

    .bottom {
      @apply absolute left-[26px] top-[33px] w-[132px] h-[129px] bg-[url('/images/banners/Home/10@2x.png')];
      animation: 4s infinite;
    }
  }

  @keyframes ani-ilb-0 {
    0%, 33.33%, 66.67%, 100% {
      transform: translateY(0rem);
    }
    16.67%, 50%, 83.33% {
      transform: translateY(-0.4rem);
    }
  }

  @keyframes ani-ilb-top {
    0%, 33.33%, 66.67%, 100% {
      transform: scaleX(1);
    }
    16.67%, 50%, 83.33% {
      transform: scaleX(1.08);
    }
  }

  // middle-tower
  .middle-tower {
    @apply absolute top-[30px] left-[235px] w-[255px] h-[357px];
    animation: ani-idmt 4s ease-out infinite;

    .tower-base {
      @apply absolute left-[0px] top-[190px] w-[311px] h-[206px] bg-[url('/images/banners/Home/4@2x.png')];
    }

    .tower-1 {
      @apply absolute left-[38px] top-[146px] w-[187px] h-[174px] bg-[url('/images/banners/Home/1@2x.png')];
      animation: ani-idmt-1 4s infinite;
    }

    .tower-2 {
      @apply absolute left-[38px] top-[73px] w-[187px] h-[174px] bg-[url('/images/banners/Home/1@2x.png')];
      animation: ani-idmt-2 4s infinite;
    }

    .tower-3 {
      @apply absolute left-[38px] top-[0px] w-[187px] h-[174px] bg-[url('/images/banners/Home/1@2x.png')];
      animation: ani-idmt-3 4s infinite;
    }
  }

  @keyframes ani-idmt {
    0%, 33.33%, 66.67%, 100% {
      transform: translateY(0rem);
    }
    16.67%, 50%, 83.33% {
      transform: translateY(0.7rem);
    }
  }

  @keyframes ani-idmt-1 {
    0%, 100% {
      transform: scaleX(1);
    }
    38% {
      transform: scaleX(1);
    }
    43% {
      transform: scaleX(0.97);
    }
    48% {
      transform: scaleX(1);
    }
  }

  @keyframes ani-idmt-2 {
    0%, 100% {
      transform: scaleX(1);
    }
    27% {
      transform: scaleX(1);
    }
    32% {
      transform: scaleX(0.97);
    }
    37% {
      transform: scaleX(1);
    }
  }

  @keyframes ani-idmt-3 {
    0%, 100% {
      transform: scaleX(1);
    }
    16% {
      transform: scaleX(1);
    }
    21% {
      transform: scaleX(0.97);
    }
    26% {
      transform: scaleX(1);
    }
  }

  // right-middle
  .right-middle {
    @apply absolute top-[175px] left-[479px] w-[185px] h-[142px];
    animation: ani-irm-0 4s ease-out infinite;

    .bottom {
      @apply absolute left-[0px] top-[13px] w-[202px] h-[143px] bg-[url('/images/banners/Home/8@2x.png')];
      animation: ani-irm-1 4s infinite;
    }

    .top {
      @apply absolute left-[67px] top-[10px] w-[56px] h-[64px] bg-[url('/images/banners/Home/7@2x.png')];
      animation: ani-irm-2 4s infinite;
    }
  }

  @keyframes ani-irm-0 {
    0%, 16.67%, 50%, 83.33% {
      transform: translateY(0rem);
    }
    33.33%, 66.67%, 100% {
      transform: translateY(0.5rem);
    }
  }

  @keyframes ani-irm-1 {
    0% {
      opacity: 0;
    }
    16%, 100% {
      opacity: 1;
    }
  }

  @keyframes ani-irm-2 {
    0%, 7% {
      opacity: 0;
      transform: scale(0);
    }
    16%, 100% {
      opacity: 1;
      transform: scale(1);
    }
  }

}

//banner-statistics
.banner-statistics {
  @apply relative w-[800px] h-[500px] bg-primary;

  //book
  .book {
    @apply absolute left-[123px] top-[250px] w-[311px] h-[206px] bg-[url('/images/banners/Statistics/18.png')];

    .book-title {
      @apply absolute left-[106px] top-[39px] w-[96px] h-[55px] bg-[url('/images/banners/Statistics/12.png')];
      animation: ani-s-book-title 3.6s linear infinite;
    }

    .trangulate {
      @apply absolute left-[103px] top-[81px] w-[48px] h-[29px] bg-[url('/images/banners/Statistics/16.png')];
      animation: ani-s-trangulate 3.6s linear infinite;
    }

    .dot-green {
      @apply absolute left-[96px] top-[69px] w-[34px] h-[20px] bg-[url('/images/banners/Statistics/13.png')];
      animation: ani-s-dot-green 3.6s linear infinite;
    }

    .dot-yellow {
      @apply absolute left-[136px] top-[92px] w-[33px] h-[20px] bg-[url('/images/banners/Statistics/14.png')];
      animation: ani-s-dot-yellow 3.6s linear infinite;
    }

    .dot-blue {
      @apply absolute left-[86px] top-[98px] w-[33px] h-[19px] bg-[url('/images/banners/Statistics/15.png')];
      animation: ani-s-dot-blue 3.6s linear infinite;
    }
  }

  @keyframes ani-s-book-title {
    0% {
      opacity: 0;
      transform: translate(0rem, 0rem);
    }

    25%, 100% {
      opacity: 1;
      transform: translate(11px, 7px);
    }
  }

  @keyframes ani-s-trangulate {
    0%, 8.33% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes ani-s-dot-green {
    0%, 8.33% {
      opacity: 0;
      scale: 0;
    }

    23.33%, 100% {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes ani-s-dot-yellow {
    0%, 17.77% {
      opacity: 0;
      scale: 0;
    }

    28.89%, 100% {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes ani-s-dot-blue {
    0%, 23.33% {
      opacity: 0;
      scale: 0;
    }

    34.44%, 100% {
      opacity: 1;
      scale: 1;
    }
  }  

  //display
  .display {
    @apply absolute left-[354px] top-[90px] w-[397px] h-[321px] bg-[url('/images/banners/Statistics/2.png')];
    
    animation: ani-s-display 3.6s ease-out infinite;

    .display-inner {
      @apply absolute left-[7px] top-[71px] w-[200px] h-[243px] bg-[url('/images/banners/Statistics/1.png')];
      animation: ani-s-display-inner 3.6s linear infinite;
    }
  }

  @keyframes ani-s-display {
    0%, 33.33%, 66.67%, 100% {
      transform: translateY(0);
    }
    16.67%, 50%, 83.33% {
      transform: translateY(0.68rem);
    }
  }

  //diagram3
  .diagram3 {
    @apply absolute left-[289px] top-[196px] w-[38px] h-[56px];
    clip-path: polygon(0 0, 100% 0, 100% 47px, 50% 100%, 0% 47px);

    .inner {
      @apply absolute left-[0px] top-[0px] w-[38px] h-[56px];
      animation: ani-d3 linear 3.6s infinite;

      .left {
        @apply absolute left-[0px] top-[11px] w-[19px] h-[44px] bg-[url('/images/banners/Statistics/3.png')];
      }

      .right {
        @apply absolute left-[19px] top-[11px] w-[19px] h-[44px] bg-[url('/images/banners/Statistics/4.png')];
      }

      .top {
        @apply absolute left-[1px] top-[1px] w-[38px] h-[22px] bg-[url('/images/banners/Statistics/5.png')];
      }
    }
  }

  //diagram2
  .diagram2 {
    @apply absolute left-[259px] top-[153px] w-[38px] h-[82px];
    clip-path: polygon(0 0, 100% 0, 100% 73px, 50% 100%, 0% 73px);

    .inner {
      @apply absolute left-[0px] top-[0px] w-[38px] h-[82px];
      animation: ani-d2 3.6s linear infinite;

      .left {
        @apply absolute left-[0px] top-[11px] w-[19px] h-[71px] bg-[url('/images/banners/Statistics/6.png')];
      }

      .right {
        @apply absolute left-[19px] top-[11px] w-[19px] h-[71px] bg-[url('/images/banners/Statistics/7.png')];
      }

      .top {
        @apply absolute left-[1px] top-[1px] w-[38px] h-[22px] bg-[url('/images/banners/Statistics/8.png')];
      }
    }
  }

  //diagram1
  .diagram1 {
    @apply absolute left-[226px] top-[109px] w-[38px] h-[109px];
    clip-path: polygon(0 0, 100% 0, 100% 100px, 50% 100%, 0% 100px);

    .inner {
      @apply absolute left-[0px] top-[0px] w-[38px] h-[109px];
      animation: ani-d1 3.6s linear infinite;

      .left {
        @apply absolute left-[0px] top-[11px] w-[19px] h-[99px] bg-[url('/images/banners/Statistics/9.png')];
      }

      .right {
        @apply absolute left-[19px] top-[11px] w-[19px] h-[99px] bg-[url('/images/banners/Statistics/10.png')];
      }

      .top {
        @apply absolute left-[1px] top-[1px] w-[38px] h-[22px] bg-[url('/images/banners/Statistics/11.png')];
      }
    }
  }

  @keyframes ani-d1 {
    0% {
      transform: translateY(107px);
    }
    56.67%, 100% {
      transform: translateY(0rem);
    }
  }

  @keyframes ani-d2 {
    0% {
      transform: translateY(80px);
    }
    42.22%, 100% {
      transform: translateY(0rem);
    }
  }

  @keyframes ani-d3 {
    0% {
      transform: translateY(54px);
    }
    28.89%, 100% {
      transform: translateY(0rem);
    }
  }

  @keyframes ani-s-display-inner {
    0% {
      opacity: 0;
    }
    25%, 100% {
      opacity: 1;
    }
  }
}

// banner-api
.banner-api {
  @apply relative w-[800px] h-[500px] bg-primary;

  .right-base {
    @apply absolute left-[516px] top-[94px] w-[206px] h-[139px] bg-[url('/images/banners/API/～3@2x.png')];
  }

  .right-pipe {
    @apply absolute left-[355px] top-[151px] w-[224px] h-[137px] bg-[url('/images/banners/API/line_1@2x.png')];

    .slide{
      @apply absolute left-[198px] top-[1px] w-[25px] h-[25px] bg-[url('/images/banners/API/line_1_slide@2x.png')] opacity-70;
      animation: ani-right-slide 3.6s linear infinite;
    }
  }

  .central-bottom {
    @apply absolute left-[239px] top-[162px] w-[371px] h-[215px] bg-[url('/images/banners/API/～2@2x.png')];
  }

  .central-top {
    @apply absolute left-[358px] top-[114px] w-[120px] h-[120px] bg-[url('/images/banners/API/～1@2x.png')];
    animation: ani1 3.6s ease-out infinite;
  }

  .left_pipe {
    @apply absolute left-[155px] top-[265px] w-[224px] h-[137px] bg-[url('/images/banners/API/line_1@2x.png')];
    .slide{
      @apply absolute left-[198px] top-[1px] w-[25px] h-[25px] bg-[url('/images/banners/API/line_1_slide@2x.png')] opacity-70;
      animation: ani-left-slide 3.6s linear infinite;
    }
  }

  .computer {
    @apply absolute left-[83px] top-[256px] w-[278px] h-[252px] bg-[url('/images/banners/API/～4@2x.png')];
    animation: ani1 3.6s ease-out infinite;

    .display{
      @apply absolute left-[136px] top-[44px] w-[57px] h-[87px] bg-[url('/images/banners/API/～5@2x.png')] opacity-70;
      animation: ani2 3.6s infinite;
    }
  }

  .belt {
    @apply absolute left-[425px] top-[261px] w-[375px] h-[239px];
    clip-path: polygon(100% 100%, 100% 0, 68px 0, 3px 40px, 3px 100%);

    .inner {
      @apply absolute left-[0px] top-[0px] w-[793px] h-[485px] bg-[url('/images/banners/API/～6@2x.png')];
      animation: anibelt linear 3.6s infinite;
    }

    @keyframes anibelt {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-180px, -107px);
      }
    }
  }

  @keyframes ani1 {
    0%, 33.33%, 66.67%, 100% {
      transform: translateY(0px);
    }
    16.67%, 50%, 83.33% {
      transform: translateY(10px);
    }
  }

  @keyframes ani2 {
    0%, 33.33%, 66.67%, 100% {
      transform: scale(1); 
    }
    16.67%, 50%, 83.33% {
      transform: scale(1.2); 
    }
  }

  @keyframes ani-right-slide {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }
    0.01% {
      opacity: 0.7;
    }
    36.67%, 100% {
      transform: translate(-84px, 48px);
    }
  }

  @keyframes ani-left-slide {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }
    66.67% {
      opacity: 0;
      transform: translate(0, 0);
    }
    67% {
      opacity: 0.7;
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-74px, 41px);
    }
  }

  
}