/// global

// section style
.section {
  @apply bg-[#f3f4fa] font-primary;
}

.section_title {
  @apply pt-10 text-dark text-h3 font-bold;
}

.section_description {
  @apply pt-2 text-h5 md:text-base font-bold text-justify break-keep;
}

// container
.container {
  @apply mx-auto max-w-[1240px] px-4 md:px-5;

  &-header {
    @apply mx-auto max-w-[1240px] px-0 md:px-5;
  }

  &-main {
    @apply relative max-w-[1240px] bg-white rounded-xl mx-3 md:mx-5 border-[6px] md:border-4 border-white text-justify z-20 min-h-[200px] overflow-hidden;
  }
}

// form style
.form-inputs * {
  @apply mb-5 leading-10;
}

// social icon style
.social-icons {
  @apply space-x-10 ;
  li {
    @apply inline-block text-xl ;
    a {
      @apply block h-8 w-8 rounded-full border-none text-center bg-[#e2e3e9] text-white hover:text-white hover:bg-primary transition-all duration-300;

      svg {
        @apply m-auto h-8;
      }
    }
  }
}

// notice
.notice {
  .notice-body {
    p {
      @apply my-0 text-[#2e2e2e];
    }
  }

  &.note {
    .notice-head {
      @apply bg-[#6ab0de];
    }
    .notice-body {
      @apply bg-[rgb(227,244,255)];
    }
  }

  &.tip {
    .notice-head {
      @apply bg-[#78c578] ;
    }
    .notice-body {
      @apply bg-[#e2ffe2] ;
    }
  }

  &.info {
    .notice-head {
      @apply bg-[#f0b37e] ;
    }
    .notice-body {
      @apply bg-[#ffedde] ;
    }
  }

  &.warning {
    .notice-head {
      @apply bg-[#e06f6c] ;
    }
    .notice-body {
      @apply bg-[#ffdad8] ;
    }
  }
}

//banner
.banner-content {
  @apply pr-2;
}

.banner-title {
  @apply text-white font-bold text-[2.3rem] tracking-wider;
}

.banner-text {
  @apply text-white text-h5 md:text-[0.95rem] font-medium leading-8 md:leading-7 pt-4 md:pt-6;
}

.banner-link {
  @apply opacity-0 mt-9 rounded-md bg-white text-[1.2rem] font-normal text-primary w-fit h-auto py-2.5 px-5 items-center justify-center;
}

.bg-theme {
  @apply relative bg-[50%] bg-contain h-full -z-[1];

  &::before {
    @apply content-[''] absolute left-0 top-0 w-full h-full rounded-[30px] bg-contain bg-no-repeat bg-[#fff7f3] scale-[.3] transition-transform duration-[1500ms] ease-[cubic-bezier(.105,.84,.44,1)] -z-[1];
  }

  &::after {
    @apply absolute content-[''] w-full h-full bg-no-repeat bg-contain bg-[0_center] -z-[1];
    background-image: url("data:image/svg+xml,%0A%3Csvg width='1401' height='613' viewBox='0 0 1401 613' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 580C35.1785 462.015 166.359 247.408 425.652 332.866C749.767 439.688 890.318 302.84 946.338 181.583C1002.36 60.3256 1149.41 -52.8479 1400 35.4968' stroke='%23FFE4D1' stroke-width='4' stroke-dasharray='10 10'/%3E%3Cpath d='M1398 0.999977C1364.87 125.95 1233.88 353.224 974.955 262.722C651.302 149.594 510.953 294.52 455.013 422.935C399.073 551.35 252.231 671.203 2.00002 577.644' stroke='%23FFE4D1' stroke-width='4' stroke-dasharray='10 10'/%3E%3C/svg%3E%0A");
  }


  &.bg-animate::before {
    transform: scale(1)
  }
}

.home-tab-ul {
  @apply text-justify break-all;
}

.pagination {
  .swiper-pagination-bullet {
    @apply w-[15px] h-[15px];

    &-active-main {
      @apply bg-primary;
    }
  }
}

//footer
.footer-copy-write {
  @apply underline text-primary;

  &:hover  {
    @apply text-[#2cdcac];
  }
}

/// index
.online-store {
  @apply pt-3 text-h4 md:text-[16px] font-extrabold text-[#08c39d];
}

// tab
.active-tab {
  @apply bg-[url('/images/home/tab_bg_sel.svg')];
}

.tab {
  @apply bg-[url('/images/home/tab_bg_nor.svg')];
}


.search-input {
  @apply text-gray-950 placeholder-gray-600 block bg-[#f3f4fa] w-full h-[66px] border-4 border-white rounded-[12px] px-16 shadow-sm focus:outline-none focus:border-white focus:ring-white focus:ring-0 text-[16px];
}

.list-item {
  @apply font-primary text-h5 md:text-base text-gray-700 hover:bg-[#e6f8f4] hover:text-primary pl-1 pr-1 lg:pl-4 lg:pr-4 text-justify cursor-pointer;
}

/// statistics
.div-statistics {
  @apply pt-5 px-3 md:pt-3 md:px-7;

  .inner {
    @apply mb-12;

    .caption {
      @apply text-h4 md:text-h3 text-primary font-bold;
    }

    .sub-caption {
      @apply flex font-bold text-h5 text-black pb-3;
    }
  }
}

/// api
.div-api {
  @apply flex justify-center container px-0;

  .api-background {
    @apply relative bg-[url('/images/api/0.png')] w-full min-h-[100px] overflow-hidden bg-no-repeat;
    background-size: 100% 100px;
  
    .api-mark {
      @apply absolute right-6 top-0 md:left-0;
  
      .image_6 {
        @apply w-[24px] h-[68px];
        margin: 20px 0 0 96px;
      }
    
      .image_7 {
        @apply absolute;
        left: 68px;
        top: -14px;
        width: 25px;
        height: 15px;
      }
    
      .label_2 {
        @apply absolute;
        left: 76px;
        top: -10px;
        width: 44px;
        height: 39px;
      }
    
      .image_8 {
        @apply absolute;
        left: 40px;
        top: 0;
        width: 64px;
        height: 91px;
      }
    
      .image-wrapper_4 {
        @apply w-[62px] h-[100px] bg-[url('/images/api/image_wrapper_4.png')];
        background-size: 100% 100%;
        width: 62px;
        position: absolute;
        left: 41px;
        top: -10px;
    
        .image_9 {
          @apply w-[42px] h-[67px];
          margin: 19px 0 0 8px;
        }
      }
  
    }
    
  }
  
  .api-title {
    @apply absolute px-4 top-3 md:px-[96px] md:top-7 break-words text-primary text-h3 font-bold
     font-primary text-left whitespace-nowrap;
  }
  
  .api-description {
    @apply px-4 top-[60px] md:px-[96px] md:top-[80px] break-words text-primary text-h5 md:text-h6 font-bold font-primary text-justify;
  }
  
  .api-content {
    @apply mt-8 md:mt-[42px] px-2 md:px-[96px];

    .content-inner {
      @apply pb-8 md:pb-[40px] text-justify break-all;
      
      .title {
        @apply font-bold text-h4 md:text-[20px] text-black;
      }

      .url {
        @apply text-orange-500 bg-orange-100 px-3 py-2 mt-6 rounded-md text-h5 w-fit md:py-1 md:text-base cursor-pointer;
      }

      .description {
        @apply text-gray-700 h5 pt-3 leading-8 md:text-base;
      }

      .description-highlight {
        @apply text-rose-500;
      }
    }
  }
}


.div-faq {
  @apply flex justify-center container px-0;

  .faq-background {
    @apply relative bg-[url('/images/api/0.png')] w-full h-[100px] overflow-hidden;
    background-size: 100% 100%;
  
    .faq-mark {
      @apply absolute right-28 top-0 md:left-0;
      .img1 {
        @apply w-[81px] h-[59px] bg-[url('/images/api/section_1.png')] mt-[17px] ml-[26px];
        
        .image-wrapper_2 {
          @apply relative w-[80px] h-[45px] bg-[url('/images/api/image-wrapper_2.png')] ml-[1px];

          .image_2 {
            @apply absolute left-[17px] top-[28px] w-[63px] h-[30px];
          }

          .image_3 {
            @apply absolute left-0 top-[35px] w-[17px] h-[23px];
          }
        }
      }

      .img2 {
        @apply absolute w-[33px] h-[24px] left-0 top-[66px] bg-[url('/images/api/section_2.png')];

        .image-wrapper_3 {
          @apply w-[33px] h-[18px] -mt-[6px] bg-[url('/images/api/image-wrapper_3.png')];

          .image_4 {
            @apply w-[33px] h-[18px];
          }
        }
      }

      .image_5 {
        @apply absolute left-[97px] top-[-21px] w-[84px] h-[62px];
      }

    }
  }

  .faq-title {
    @apply absolute px-4 top-3 md:px-[96px] md:top-7 break-words text-primary text-h3 font-bold
     font-primary text-left whitespace-nowrap;
  }

  .faq-content {
    @apply  relative mt-[-16px] md:mt-[46px] px-2 md:px-[96px] ;

    .content-inner {
      @apply pb-12 md:pb-[40px] text-justify break-all;
      
      .title {
        @apply font-bold text-h4 md:text-[20px] text-black;
      }

      .description {
        @apply text-gray-700 text-h5 pt-3 leading-8 md:text-base;
      }

      .description-highlight {
        @apply text-rose-500;
      }
    }
  }
}

/// feedback


/// about 
.div-about {
  @apply px-7 md:px-24 py-10;
}

.about-subtitle {
  @apply text-primary font-bold;
}

.about-content {
  @apply text-dark text-h5 md:text-[14px] text-justify md:font-bold break-words pt-4 leading-7;
  a {
    @apply text-primary;
  }
}